@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Roboto:400,500&display=swap');
*{
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  --color-theme1: #ff6347;
}
body{
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
header{
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
}
header #logo{
  text-decoration: none;
  color: #000000;
}
header h1{
  text-align: center;
  font-family: "Archivo Black", sans-serif;
  font-size: 2rem;
}
form{
  padding: 3rem;
  display: flex;
}
form input{
  font-size: 2rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border: 2px solid var(--color-theme1);
  border-radius: .4rem 0rem 0rem .4rem;
}
::placeholder{
  color: #c5c5c5;
}
form button{
  border: none;
  padding: .5rem;
  background: var(--color-theme1);
  color: #ffffff;
  font: normal 1.5rem "Roboto", sans-serif;
  cursor: pointer;
  border-radius: 0rem .4rem .4rem 0rem;
}
article{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 80%;
  padding: 2rem 0rem;
  row-gap: 5rem;
  column-gap: 3rem;
  margin: auto;
}
figure img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
